body {
  margin: 0;
}
%containers {
  width: max-content;
  height: 800px;
  display: grid;
  grid-template-rows: 80% 20%;
  padding: 10px;
  border-radius: 5px;
  color: $font-dark-blue;
  font-size: 20px;
  p {
      max-width: 600px;
      text-align: justify;
  }
}
%button {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
.title2 {
  text-align: center;
  color: $main-dark-blue;
  background-color: $weird-light-gray;
}
.containerMain {
  display: flex;
  justify-content: space-between;
  margin: 5%;

  .containerOne {
    @extend %containers;
   }
   .containerTwo {
     @extend %containers;
   }
   .buttonDiv {
     text-align: center;
   }
   .button {
     @extend %button;
     background-color: $main-light-blue;
     border: none;
   }
   .button:hover {
     background-color: $main-dark-blue;
     color: whitesmoke;
   }
}
