.container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    .item1 {
      min-height: 400px;
      background: url('http://www.noeallatotthon.hu/cikk/900_964_pletyka1.jpg') no-repeat;
      background-position: center;
      text-align: center;
      margin: 10px;
    }
    .ImgDesc {
      height: 100%;
      width: 90%;
      opacity: 0;
      background-color: teal;
      margin-left: 5%;
    }
    .item1:hover .ImgDesc {
      opacity: 0.6;
      text-align: justify;
    }
  }
  .container2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    .item2 {
      flex: 1;
      text-align: center;
    }
  }