$radius: 20px;

#main {
  /*for testing*/
  height: 66vh;

  background-color: $main-light-blue;

  header {
    background-color: white;
  }

  header img {
    display: inline-block;
    padding: 0;
    margin: 0 25px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;

    #message,
    img {
      width: 50%;
    }
  }
}
#btn-bar {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  padding: 10px;
  button {
    cursor: pointer;
    height: 3em;
    outline: none;
    width: 110px;
    &:first-child {
      border-radius: $radius 0 0 $radius;
      margin-left: calc(60% - 110px);
    }
    &:nth-child(2) {
      border-radius: 0 $radius $radius 0;
    }
  }
}
