$blue: #689ac8;
$brown: #97916e;

.grid-container {
  display: grid;
  grid-template-rows:  40vh 40vh;
  grid-template-columns: 35% 15% 35% 15%;
  align-items: center;
  text-align: center;
  max-width: $main-page-max-width;
  margin: 0 auto;

 

  img {
    width: 50%;
    height: 50%;
    min-width: 100px;
    border-radius: 10%;
  }

  .p-container {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
		line-height: 6vh;
		text-align: left;
  }

  h1 {
    margin: 0;
  }

  @media (max-width: 1150px) {
    p {
      line-height: 3vh;
    }
  }
}
.h1-container {
	text-align: center;
	margin: 0 auto;
	max-width: 1200px;
	line-height: 20vh;
	width: 100vw;
	font-family: "Montserrat", sans-serif;
}