$blue:#689ac8;
$brown: #97916e;

.grid-container {
	display: grid;
	grid-template-rows: 20vh 40vh 40vh;
	grid-template-columns: 35% 15% 35% 15%;
	align-items: center;
	text-align: center;
	background-color: $brown;
	padding-right: 7vw;

	.h1-container	{
		grid-column: span 4;
		background-color: $blue;
		line-height: 20vh;
		width: 100vw;
		font-family: 'Montserrat', sans-serif;
	}
	
	img {
		width: 50%;
		height: 50%;
		border-radius: 10%;
	}
	
	.p-container {
		font-size: 18px;
		font-family: 'Montserrat', sans-serif;
		line-height: 6vh;
	}

	h1 {
		margin: 0;
	}
}