@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  /*for testing*/
  height: 300vh;
}

@import "main_page";
@import "main2";
@import "part3";
