@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  h1 {
    font-family: "Open Sans", sans-serif;
  }
  font-size: 100%;
  background-color: $weird-dark-gray;

  /*for testing*/
  height: 300vh;
}

@import "main_page";
@import "main2";
@import "part3";
