* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  /*for testing*/
  height: 300vh;
}

body h1 {
  font-family: "Open Sans", sans-serif;
}

#main {
  background-color: #689ac8;
}

#main header {
  background-color: white;
}

#main header img {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: auto;
}

#main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: url(../img/rescue-dog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30em;
}

#main .container #message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 510px;
  height: 100%;
  padding: 10px 40px 40px;
  background-color: rgba(255, 255, 255, 0.6);
}

#main .container h1 {
  font-size: 2.5em;
}

#btn-bar {
  background-color: #689ac8;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}

#btn-bar button {
  cursor: pointer;
  font-size: 1.5em;
  height: 3em;
  width: 25ch;
  outline: none;
  border-radius: 20px;
  background-color: #a51515;
}

body {
  margin: 0;
}

.containerMain .containerOne, .containerMain .containerTwo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80% 20%;
      grid-template-rows: 80% 20%;
  padding: 10px;
  border-radius: 5px;
  color: #0779b5;
  font-size: 20px;
}

.containerMain .containerOne p, .containerMain .containerTwo p {
  max-width: 600px;
  text-align: justify;
}

.containerMain .button {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.title2 {
  text-align: center;
  color: #274764;
  background-color: #f1ecd1;
}

.containerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5%;
}

.containerMain .buttonDiv {
  text-align: center;
}

.containerMain .button {
  background-color: #689ac8;
  border: none;
}

.containerMain .button:hover {
  background-color: #274764;
  color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20vh 40vh 40vh;
      grid-template-rows: 20vh 40vh 40vh;
  -ms-grid-columns: 35% 15% 35% 15%;
      grid-template-columns: 35% 15% 35% 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #97916e;
}

.grid-container .h1-container {
  grid-column: span 4;
  background-color: #68B8DF;
  padding: 8.5vh;
  font-family: 'Montserrat', sans-serif;
}

.grid-container img {
  width: 50%;
  height: 50%;
  border-radius: 10%;
}

.grid-container .p-container {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  line-height: 5vh;
}

.grid-container h1 {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */