* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#69675b), color-stop(white), color-stop(#69675b), color-stop(white), color-stop(#69675b), color-stop(white), color-stop(#69675b), to(white));
  background-image: linear-gradient(to bottom, #69675b, white, #69675b, white, #69675b, white, #69675b, white);
  /*for testing*/
  height: 300vh;
}

body h1 {
  font-family: "Open Sans", sans-serif;
}

#main {
  max-width: 1200px;
  margin: 0 auto;
}

#main header {
  background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(white), to(#274764));
  background-image: linear-gradient(to right, white, white, #274764);
  border-radius: 10px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 30px;
}

#main header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #68b8df;
  text-shadow: 1px 1px 1px #0779b5;
  font-size: 1.3em;
  text-align: center;
}

#main header div:first-child {
  -ms-flex-preferred-size: 460px;
      flex-basis: 460px;
}

#main header div:nth-child(2) {
  -ms-flex-preferred-size: 640px;
      flex-basis: 640px;
}

#main header img {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: auto;
}

#main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 25em;
  margin: 0 30px;
}

#main .container .hfix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 34em;
  position: relative;
  border-radius: 0 0 20px 20px;
}

#main .container .hfix:first-child {
  -ms-flex-preferred-size: 460px;
      flex-basis: 460px;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.5)));
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.5));
}

#main .container .hfix:nth-child(2) {
  -ms-flex-preferred-size: 640px;
      flex-basis: 640px;
  z-index: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 0 0 20px 20px;
  background-color: #274764;
}

#main .container #message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 40px 40px;
  height: 25em;
}

#main .container #message h1 {
  color: #0779b5;
  text-shadow: 1px 1px 1px #68b8df;
}

#main .container #message h2 {
  color: #68b8df;
  text-shadow: 1px 1px 1px #0779b5;
  line-height: 150%;
}

#main .container .pic-holder {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25em;
}

#main .container .pic-holder img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

#main .container h1 {
  font-size: 2.2em;
}

#btn-bar {
  background-color: #689ac8;
  max-width: 1200px;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
}

#btn-bar div {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#btn-bar div:first-child {
  -ms-flex-preferred-size: 460px;
      flex-basis: 460px;
}

#btn-bar div:nth-child(2) {
  -ms-flex-preferred-size: 640px;
      flex-basis: 640px;
}

#btn-bar button {
  cursor: pointer;
  font-size: 1.5em;
  height: 2em;
  width: 22ch;
  outline: none;
  border-radius: 5px;
  background-color: #ff6200;
}

@media only screen and (max-width: 1200px) {
  #main header,
  #btn-bar {
    border-radius: 0;
  }
}

.title2 {
  margin-top: 100px;
}

body {
  margin: 0;
}

.containerMain .containerOne, .containerMain .containerTwo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80% 20%;
      grid-template-rows: 80% 20%;
  padding: 10px;
  border-radius: 5px;
  color: #0779b5;
  font-size: 20px;
}

.containerMain .containerOne p, .containerMain .containerTwo p {
  max-width: 600px;
  text-align: justify;
}

.containerMain .button {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.title2 {
  text-align: center;
  color: #274764;
  background-color: #f1ecd1;
}

.containerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5%;
}

.containerMain .buttonDiv {
  text-align: center;
}

.containerMain .button {
  background-color: #689ac8;
  border: none;
}

.containerMain .button:hover {
  background-color: #274764;
  color: whitesmoke;
}

.containerMain img {
  max-width: 100%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20vh 40vh 40vh;
      grid-template-rows: 20vh 40vh 40vh;
  -ms-grid-columns: 35% 15% 35% 15%;
      grid-template-columns: 35% 15% 35% 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #97916e;
  padding-right: 6%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container .h1-container {
  grid-column: span 4;
  background-color: #689ac8;
  line-height: 20vh;
  width: 106.4%;
  font-family: "Montserrat", sans-serif;
}

.grid-container img {
  width: 50%;
  height: 50%;
  min-width: 100px;
  border-radius: 10%;
}

.grid-container .p-container {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 6vh;
}

.grid-container h1 {
  margin: 0;
}

@media (max-width: 1150px) {
  .grid-container p {
    line-height: 3vh;
  }
}
/*# sourceMappingURL=style.css.map */